/*@tailwind base;*//* global.css */
body {
    background-color: #582DD2;
  }
  
@tailwind components;
@tailwind utilities;

/* .shadow-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    borderRadius:12;
  } */
  
  