/*@tailwind base;*/
/* global.css */
/* global.css */

.login-page {
  background-color: #582dd2;
}

.register-page {
  background-color: #582dd2;
}

@tailwind components;
@tailwind utilities;

/* Petugas style */
.shadow-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* modal letak barang */
.uppercase-input {
  text-transform: uppercase;
}
/* modal letak barang */
